// app global css in SCSS form
@font-face {
  font-family: Edu-NSW-ACT-Foundation;
  src: url(./fonts/EduNSWACTFoundation-VariableFont_wght.ttf);
}

// declare a class which applies it
.edu-font {
  font-family: "Edu-NSW-ACT-Foundation";
}

body {
  font-family: "Edu-NSW-ACT-Foundation";
}

.fb-color {
  color: #4267b2;
}

.h-30 {
  height: 30px;
}

.marquee {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
